header{
    display: flex;
    justify-content: flex-end;
}
.button{
    background-color: #ffffff;
    color: #38229A;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    margin: 24px 56px 24px 24px;
    font-family: 'space grotesk', sans-serif;
    font-size: 18px;
    text-decoration: none;
    
    transition: background-color 0.3s, color 0.3s;
    animation: 1s grow;
}
@keyframes grow{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.button:hover{
    background-color: #38229A;
    color: #ffffff;
}
.button:focus-visible{
    outline: 3px solid #8f7ce4;
    outline-offset: 2px;
}