keytruda img{
    width: 500px;
    margin: 24px 0 0 0;
    padding: 0;
    border-radius: 4px 4px 4px 4px;
}
.rna img{
    width: 500px;
    margin: 24px 0 0 0;
    padding: 0;
    border-radius: 4px 4px 4px 4px;
}