.intro{  
   max-width: 764px;
}

.benefits{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;   
    gap: 16px; 
    margin-bottom:0;
}

.benefits-item{
    background-color: #312373;
    padding: 12px;
    border-radius: 16px 16px 0 0;
    font-family: 'space grotesk', sans-serif;
    font-size: 18px;
    flex: 1;
}

.benefits-item p{
    font-family: 'nunito', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 0 8px 0px 24px;
}

.benefits-item h4{
    font-family: 'space grotesk', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 8px 8px 0 24px;    
}
.conclusion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;   
}
.rna, .keytruda{
    display: flex;
    flex-direction: column;  
    max-width: 500px;
    width: 100%;    
}
img{
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 24px 0 0;
    border-radius: 4px;
}
footer{
  display: flex;
  justify-content:center;
  align-items: center;
  color:  #ffffff;            
  min-height: 40px;
  width:100%;
  font-weight: 700;
  font-size: 20px;
  background-color: #312373;
  margin-top: 96px;            
}
footer h5{
  margin: 0;
}
 