@media (max-width: 480px) {
    .background {          
        background-position: center;
    }    
    .benefits-item{
        padding: 16px;
        border-radius: 24px 0 0 24px;
        width: 100%;        
    }        
    .conclusion{
        width: 100%;
    }
    .rna, .keytruda{
        width: 100%; 
        padding: 16px;       
    } 
    .rna img, .keytruda img{        
        width: 100%;
        border-radius: 4px;
    }    
    footer{
        padding: 24px;
    }  
}
