
.background{
    height: auto;            
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}	


.intro{
    margin: 0 0 50px 120px;
    padding: 24px;
    width: 764px;
}

.benefits{
    display: flex;
    justify-content:left;
    flex-direction: row;
    margin: -80px 0 50px 120px;
}

.benefits-item{
    background-color: #312373;
    color: #ffffff;
    padding: 12px;
    border-radius: 16px 16px 0 0;
    font-family: 'space grotesk', sans-serif;
    font-size: 18px;
    width: 380px;
    margin: 18px 0 0 16px;
}

.benefits-item p{
    font-family: 'nunito', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 0 8px 0px 24px;
}

.benefits-item h4{
    font-family: 'space grotesk', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 8px 8px 0 24px;
    
}
.conclusion-title{
    display: flex;
    margin: 70px 0 70px 145px;
       
}


.conclusion{
    display: flex;
    flex-direction: row;
    justify-content: Space-between;
    margin: -80px 100px 50px 120px;

    
}

.rna{
    display: flex;
    flex-direction: column;    
    padding: 24px;
    max-width: 500px;
   
}
.keytruda{
    display: flex;
    flex-direction: column;
    padding: 24px;
    max-width: 500px;
    
}

